body { 
  background-color: rgb(245, 237, 227) 
}
#articles {
  margin: auto;
  display: inline-block;
  overflow: auto;
  height: flex;
  background-color: antiquewhite;
  border-image: url('../img/border.svg') 20 fill / 30px / 10px;
  border-radius: 10px;
  padding: 1rem;
}

textarea, input {
  display: block;
  width: 100%;
  background-color: white;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}

h1, h2, h3, h4, h5, button{
  font-family: Cambria;
}

.modal-content{
  background: linear-gradient(aliceblue, ghostwhite)
}

a{
  color:black!important;
}

#logo{
  filter: drop-shadow(-1pt 1pt 3pt black);
  margin: auto;
}

.article{
  border: 1pt solid black;
  border-radius: 2px;
  padding: 5pt;
  background: rgba(255, 255, 255, 0.95)
}

.article:hover{
  border-radius: 2px;
  padding: 5pt;
  animation: borderPulse 2s linear infinite, bgPulse 2s linear infinite;
  background: linear-gradient(skyblue, ghostwhite);
  background-size: 400% 400%;
  box-shadow: -1pt 1pt 0pt black
}

@keyframes borderPulse{
  0%, 100% {border: 2pt solid cornflowerblue;}

  25%, 75% { border: 2pt solid aqua;}

  50% { border: 2pt solid white;}
}

@keyframes bgPulse { 
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}